a.b-list__act.item-link(href!='<%= href %>')
  .b-list__h.b-list__h_day
    .b-list__body
      .b-list__day-h
        | День
        =' '
        .b-list__day-num <%= index %>
      .b-list__day-date <%= date %>
