a.b-list__act.item-link(href!='<%= href %>')
  .b-list__h.b-list__h_day
    .b-list__body
      .b-list__day-h
        | День <% console.log(obj) %>
        =' '
        .b-list__day-num 1
      .b-list__day-date 20 июня 2016
