.navbar
  .navbar-inner
    .left
      a.back.link.b-back(href='#')
        svg.b-back__icon
          use(xlink:href='#icon_back')
    .center.sliding Урал трудовой
    .right
      a.link.open-panel.b-nav-button(href='#')
        .b-nav-button__body
          .b-nav-button__item.b-nav-button__item_top
          .b-nav-button__item.b-nav-button__item_center
          .b-nav-button__item.b-nav-button__item_bottom
    .subnavbar.subnavbar-no-space
      .b-tab-nav
        a.tab-link.b-tab-nav__item(href='#place-desc') Описание
        a.tab-link.b-tab-nav__item.active(href='#place-schedule') Расписание
        a.tab-link.b-tab-nav__item(href='#place-contacts') Контакты
.pages
  .page.with-subnavbar(data-page='place-detail')
    .tabs.b-tabs
      .page-content.tab.b-tabs__item(id='place-desc')
        .b-tabs__content.b-tabs__content_page-bg
      .page-content.tab.b-tabs__item(id='place-schedule', class='active')
        .b-tabs__content.b-tabs__content_nospace
      .page-content.tab.b-tabs__item(id='place-contacts')
        .list-block

