a.item-link.b-main-teasers__act(href!='<%= href %>')
  .b-main-teasers__icon-wrapper
    svg.b-main-teasers__icon(class!='b-main-teasers__icon_<%= code %>')
      use(xlink:href!="#icon_<%= code %>")
  .b-main-teasers__h Урал
  .b-main-teasers__sub-h <%= shortName %>
