.navbar
  .navbar-inner
    .left
      a.link.icon-only.back(href='#'): i.icon.icon-back
    .center.sliding Урал трудовой
    .right
      a.link.icon-only.open-panel(href='#'): i.icon.icon-bars
    .subnavbar
      .buttons-row
        a.button.tab-link.active(href='#place-desc') Описание
        a.button.tab-link(href='#place-timetable') Расписание
        a.button.tab-link(href='#place-contacts') Контакты
