.pages
  .page(data-page!='schedule-detail-<%= id %>')
    .page-content
      .content-block-title Название
      .content-block: .content-block-inner: p <%= name %>

      .content-block-title Время начала
      .content-block: .content-block-inner: p <%= start %>

      | <% if (obj.location) { %>
      .content-block-title Площадка
      .content-block: .content-block-inner: p <%= location %>
      | <% } %>

      | <% if (obj.text) { %>
      .content-block-title Описание
      .content-block: .content-block-inner: p <%= text %>
      | <% } %>
