doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title Утро 2016
    link(rel='stylesheet', href='./js/vendor/framework7/css/framework7.ios.min.css')
    style.
      .ks-card-header-pic .card-header {
        height: 40vw;
        background-size: cover;
        background-position: center;
      }
      .color-white {
        color: #fff;
      }
  body
    .statusbar-overlay

    .panel-overlay
    .panel.panel-left.panel-reveal.layout-dark
      .content-block
        p Тут можно какой то текст по желанию
      .list-block

    .views
      .view.view-main
        .navbar
          .navbar-inner
            .center.sliding Утро 2016
            .right
              a.link.icon-only.open-panel(href='#'): i.icon.icon-bars
        .pages.navbar-through
          .page(data-page='main')
            .page-content.pull-to-refresh-content(data-ptr-distance='55')
              .pull-to-refresh-layer
                .preloader
                .pull-to-refresh-arrow
              .list-block

    .login-screen.modal-in
      .view
        .page(data-page='splash')
          .page-content.login-screen-content
            .login-screen-title Выберите смену
            .list-block Загрузка смен...

    script(src='./js/vendor/vendor.js')
    script(src='./js/app/init.js')
