.toolbar
  .toolbar-inner
    .b-footer-nav
      .b-footer-nav__item
        a.b-feedback-button.item-link(href='#')
          .b-feedback-button__button
            .b-feedback-button__img
              svg.b-feedback-button__icon
                use(xlink:href='#icon_phone')
      .b-footer-nav__item
        a.b-footer-button.item-link(href='cabinet/index.html?tab=my', class='toolbar-calendar')
          svg.b-footer-button__icon.b-footer-button__icon_calendar
            use(xlink:href='#icon_calendar')
      .b-footer-nav__item
        a.b-footer-button.item-link(href='map/index.html', class='toolbar-location')
          svg.b-footer-button__icon.b-footer-button__icon_location
            use(xlink:href='#icon_location')
      .b-footer-nav__item
        a.b-footer-button.item-link(href='polls/index.html', class='toolbar-poll')
          svg.b-footer-button__icon.b-footer-button__icon_poll
            use(xlink:href='#icon_poll')
      .b-footer-nav__item
        a.b-footer-button.item-link(href='notify/index.html', class='toolbar-notify')
          .b-footer-button__tip.b-tip
            .b-tip__body
            svg.b-footer-button__icon.b-footer-button__icon_bell
              use(xlink:href='#icon_bell')
