.navbar
  .navbar-inner
    .left
      a.back.link.b-back(href='#'): svg.b-back__icon: use(xlink:href='#icon_back')
    .center.sliding Эксперты
    .right
      a.link.open-panel.b-nav-button(href='#')
        .b-nav-button__body
          .b-nav-button__item.b-nav-button__item_top
          .b-nav-button__item.b-nav-button__item_center
          .b-nav-button__item.b-nav-button__item_bottom
    .subnavbar.subnavbar-no-space
      .b-tab-nav
        a.b-tab-nav__item.tab-link(href='#experts-federal', class='active') Федеральные эксперты
        a.b-tab-nav__item.tab-link(href='#experts-places') Эксперты площадок
.pages
  .page.page-no-space.with-subnavbar(data-page='expert-list')
    .page-content.pull-to-refresh-content
      .pull-to-refresh-layer
        .preloader
        .pull-to-refresh-arrow
      .content-block
        .content-block-inner
          .tabs.b-tabs
            .tab.b-tabs__item(id='experts-federal', class='active')
              .b-tabs__content.b-tabs__content_nospace
                .b-list.b-list_layout_cards(style='margin-bottom: 0')
            .tab.b-tabs__item(id='experts-places')
              .b-tabs__content.b-tabs__content_nospace
                .b-list.b-list_layout_cards(style='margin-bottom: 0')
      .empty-page(data-text='Список экспертов пуст')

    include ../ui/toolbar.pug
