.page-content
  .content-block-title Площадки
  .list-block
    ul
      li
        a.item-link.item-content.page-link(href='#place/10')
          .item-inner
            .item-title
              | Урал
              =' '
              b Патриотичный
      li
        a.item-link.item-content.page-link(href='#place/20')
          .item-inner
            .item-title
              | Урал
              =' '
              b Трудовой
      li
        a.item-link.item-content.page-link(href='#place/30')
          .item-inner
            .item-title
              | Урал
              =' '
              b Здоровый
      li
        a.item-link.item-content.page-link(href='#page-404')
          .item-inner
            .item-title Страница 404

  .content-block-title Новости
  .list-block
    ul
      li
        a.item-link.item-content.page-link(href='#news')
          .item-inner
            .item-title Новости
