.page-content
  .list-block
    ul
      li.item-content
        a.item-inner.page-link(href='#places/10')
          .item-title
            | Урал
            =' '
            b Патриотичный
      li.item-content
        a.item-inner.page-link(href='#places/20')
          .item-title
            | Урал
            =' '
            b Трудовой
      li.item-content
        a.item-inner.page-link(href='#places/30')
          .item-title
            | Урал
            =' '
            b Здоровый
      li.item-content
        a.item-inner.page-link(href='#not-found')
          .item-title
            | Урал
            =' '
            b Политический
