.navbar
  .navbar-inner
    .left
      a.link.back.icon-only(href='#'): i.icon.icon-back
    .center.sliding Программа
    .right
      a.link.icon-only.open-panel(href='#'): i.icon.icon-bars
.pages
  .page(data-page='schedule-list')
    .page-content
      .list-block

