.navbar
  .navbar-inner
    .left
      a.back.link.b-back(href='#'): svg.b-back__icon: use(xlink:href='#icon_back')
    .center.sliding Личный кабинет
    .right
      a.link.open-panel.b-nav-button(href='#')
        .b-nav-button__body
          .b-nav-button__item.b-nav-button__item_top
          .b-nav-button__item.b-nav-button__item_center
          .b-nav-button__item.b-nav-button__item_bottom
    .subnavbar.subnavbar-no-space
      .b-tab-nav.b-tab-nav_color_main
        a.b-tab-nav__item.tab-link(href='#cabinet-schedule', id='link-schedule')
          .b-tab-nav__text Мое расписание
        a.b-tab-nav__item.tab-link(href='#cabinet-settings', id='link-settings' class='active')
          .b-tab-nav__text Настройки
.pages
  .page.page-no-space.with-subnavbar(data-page='cabinet')
    .page-content
      .tabs.b-tabs
        .b-tabs__item.tab(id='cabinet-schedule')
          .b-list
        .b-tabs__item.tab(id='cabinet-settings', class='active')
          .b-form-list
            label.b-form-list__item.b-form-list__item_select
              .b-form-list__select-body
                .b-form-list__title Выбор смены
                .b-form-list__element
                  .b-form-list__select-val(id='shift-select')
                  svg.b-form-list__picker-icon
                    use(xlink:href='#icon_pick')

    include ../ui/toolbar.pug
