.navbar
  .navbar-inner
    .left
      a.back.link.b-back(href='#'): svg.b-back__icon: use(xlink:href='#icon_back')
    .center.sliding Личный кабинет
    .right
      a.link.open-panel.b-nav-button(href='#')
        .b-nav-button__body
          .b-nav-button__item.b-nav-button__item_top
          .b-nav-button__item.b-nav-button__item_center
          .b-nav-button__item.b-nav-button__item_bottom
    .subnavbar.subnavbar-no-space
      .b-tab-nav.b-tab-nav_color_main
        a.b-tab-nav__item.tab-link(href='#cabinet-schedule'):                 .b-tab-nav__text Мое расписание
        a.b-tab-nav__item.tab-link(href='#cabinet-settings', class='active'): .b-tab-nav__text Настройки
.pages
  .page.page-no-space.with-subnavbar(data-page='cabinet')
    .page-content
      .content-block
        .content-block-inner
          .tabs.b-tabs
            .b-tabs__item.tab(id='cabinet-schedule')
              .list-block
            .b-tabs__item.tab(id='cabinet-settings', class='active')
              .b-form-list.list-block(style='margin-top: 0')
                label.b-form-list__item
                  .b-form-list__title Уведомлять о событиях в моем расписании
                  .b-form-list__element(id='notify-select')
                    select
                      option За 20 мин
                      option За 30 мин
                      option За 40 мин
                label.b-form-list__item
                  .b-form-list__title Выбор смены
                  .b-form-list__element(id='shift-select')
