a.b-list__act.item-link(href!='<%= href %>')
  .b-list__img
    .b-list__circle
      svg.b-list__icon(class!='b-list__icon_vote'): use(xlink:href!='#icon_<%= voted ? "voted" : "vote" %>')
  .b-list__h
    .b-list__body
      | Опрос
      =' '
      span.b-list__b <%= name %>
