li
  a.item-link.item-content.page-link(href!='#news/<%= id %>')
    .item-media: img(src!='<%= previewPicture %>', width='80')
    .item-inner
      .item-title-row
        .item-title <%= name %>
      .item-text <%= _.template.formatDate(date) %>
